:root {
  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}

.container-items{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.item{
    display: flex;
    gap: 1rem;
}
.item img{
    width: 5.6rem;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.item-content h4{
    font-size: 1.5rem;
    color: var(--Soft-red);
}
.item-content h6{
    font-size: 1rem;
    font-weight: bold;
    color: var(--Very-dark-blue);
    cursor: pointer;
    transition: color .3s ease;
}
.item-content h6:hover{
    color: var(--Soft-red);
}
.item-content p{
    font-size: .8rem;
    color: var(--Dark-grayish-blue);
    flex-shrink: 1;
}

@media(max-width:740px){
    .container-items{
        flex-direction: column;
        gap: 2rem;
    }
}

