@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("navbar.css");
@import url("banner.css");

:root {
  --off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--off-white);
}

#mask {
  z-index: 10;
  display: none;
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

#container-main {
  z-index: 1;

  width: 100%;
  max-width: 1024px;
  height: 100%;

  margin: 0 auto;
}

/* NAVBAR */

/* FIM NAVBAR */
